<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>mainservlet</servlet-name>
        <servlet-class>my.mainservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cookieservlet</servlet-name>
        <servlet-class>my.cookieservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocart</servlet-name>
        <servlet-class>my.addtocart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentconfirmation</servlet-name>
        <servlet-class>my.paymentconfirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sucess</servlet-name>
        <servlet-class>my.sucess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>my.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cprogram</servlet-name>
        <servlet-class>my.cprogram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>python</servlet-name>
        <servlet-class>my.python</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>my.add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mains</servlet-name>
        <servlet-class>my.mains</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cookie</servlet-name>
        <servlet-class>my.cookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentconformation</servlet-name>
        <servlet-class>my.paymentconformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gateway</servlet-name>
        <servlet-class>my.gateway</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sucesss</servlet-name>
        <servlet-class>my.sucesss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>my.log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signals</servlet-name>
        <servlet-class>my.signals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vlsi</servlet-name>
        <servlet-class>my.vlsi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ic</servlet-name>
        <servlet-class>my.ic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stm</servlet-name>
        <servlet-class>my.stm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>concretetech</servlet-name>
        <servlet-class>my.concretetech</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inf</servlet-name>
        <servlet-class>my.inf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>san</servlet-name>
        <servlet-class>my.san</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fluidmec</servlet-name>
        <servlet-class>my.fluidmec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>machinedesign</servlet-name>
        <servlet-class>my.machinedesign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>analog</servlet-name>
        <servlet-class>my.analog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cse</servlet-name>
        <servlet-class>my.cse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ct</servlet-name>
        <servlet-class>my.ct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainservlet</servlet-name>
        <url-pattern>/mainservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cookieservlet</servlet-name>
        <url-pattern>/cookieservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentconfirmation</servlet-name>
        <url-pattern>/paymentconfirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sucess</servlet-name>
        <url-pattern>/sucess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cprogram</servlet-name>
        <url-pattern>/cprogram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>python</servlet-name>
        <url-pattern>/python</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mains</servlet-name>
        <url-pattern>/mains</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cookie</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentconformation</servlet-name>
        <url-pattern>/paymentconformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gateway</servlet-name>
        <url-pattern>/gateway</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sucesss</servlet-name>
        <url-pattern>/sucesss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signals</servlet-name>
        <url-pattern>/signals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vlsi</servlet-name>
        <url-pattern>/vlsi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ic</servlet-name>
        <url-pattern>/ic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stm</servlet-name>
        <url-pattern>/stm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>concretetech</servlet-name>
        <url-pattern>/concretetech</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inf</servlet-name>
        <url-pattern>/inf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>san</servlet-name>
        <url-pattern>/san</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fluidmec</servlet-name>
        <url-pattern>/fluidmec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>machinedesign</servlet-name>
        <url-pattern>/machinedesign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>analog</servlet-name>
        <url-pattern>/analog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cse</servlet-name>
        <url-pattern>/cse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ct</servlet-name>
        <url-pattern>/ct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
